### BEGIN MKDOCS TEMPLATE ###
### WARNING, DO NOT UPDATE CONTENT BETWEEN MKDOCS TEMPLATE TAG !###
### Modified content will be overwritten when updating.###
# DOCUMENTATION REQUIREMENTS
# ============================================================
# DESCRIPTION:
#   Requirements to be able to render documentation locally

# Documentation rendering dependencies
# ------------------------------------------------------------
# Project documentation with Markdown.
# https://pypi.org/project/mkdocs/
mkdocs

# A Material Design theme for MkDocs
# https://pypi.org/project/mkdocs-material/
mkdocs-material>=8.0

# Plugin for adding monorepository support in Mkdocs.
# https://pypi.org/project/mkdocs-monorepo-plugin/
mkdocs-monorepo-plugin

# Mkdocs plugin that enables displaying the localized date of the last git
# modification of a markdown file.
# https://pypi.org/project/mkdocs-git-revision-date-localized-plugin/
mkdocs-git-revision-date-localized-plugin

# Automatic documentation from sources, for MkDocs.
# https://pypi.org/project/mkdocstrings/
mkdocstrings

# This is an extension to Python-Markdown which provides an "include" function.
# https://pypi.org/project/markdown-include/
markdown-include

# Unleash the power of MkDocs with macros and variables
# https://pypi.org/project/mkdocs-macros-plugin/
mkdocs-macros-plugin

# A mkdocs plugin that lets you exclude files or trees.
# https://github.com/apenwarr/mkdocs-exclude
mkdocs-exclude

# Python lib/cli for JSON/YAML schema validation
# https://pypi.org/project/pykwalify/
pykwalify

# Markdown extension to wrap images in a lightbox.
# https://github.com/g-provost/lightgallery-markdown
git+https://github.com/g-provost/lightgallery-markdown

# A Mermaid graphs plugin for mkdocs
# https://github.com/fralau/mkdocs-mermaid2-plugin#declaring-the-superfences-extension
mkdocs-mermaid2-plugin

# A MkDocs plugin for dynamic page redirects to prevent broken links.
# https://pypi.org/project/mkdocs-redirects/
mkdocs-redirects
### END MKDOCS TEMPLATE ###
